<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Teste Lecom</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="/clientes">Cliente</a></li>
			<li><a href="/servicos">Serviço</a></li>
			<li><a href="/servicoscliente">Serviço do cliente</a></li>
		</ul>
	</div>
</nav>
</html>