<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutDefault">
<head>
<title>Pesquisa de serviços de clientes</title>
</head>
<section layout:fragment="conteudo">
	<div layout:include="MensagemGeral"></div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title cliente-panel">Pesquisa de serviços de clientes</h1>
				<a class="btn btn-link link-panel" href="/servicoscliente/novo">Novo
					serviço de cliente</a>
			</div>
		</div>
		
		<div class="panel-body table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">Código</th>
						<th class="text-left">Cliente</th>
						<th class="text-left">Serviço</th>
						<th class="text-center col-md-1">Data início</th>
						<th class="text-center col-md-1">Data fim</th>
						<th class="text-right col-md-1">Desconto</th>
						<th class="text-right col-md-1">Valor</th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="servicoCliente : ${servicosCliente}">
						<td class="text-center" th:text="${servicoCliente.codigo}"></td>
						<td th:text="${servicoCliente.cliente.nome}"></td>
						<td th:text="${servicoCliente.servico.nome}"></td>
						<td class="text-center" th:text="${#dates.format(servicoCliente.dataInicio, 'dd/MM/yyyy')}"></td>
						<td class="text-center" th:text="${#dates.format(servicoCliente.dataFim, 'dd/MM/yyyy')}"></td>
						<td class="text-right" th:text="|${{servicoCliente.desconto}}%|"></td>
						<td class="text-right" th:text="|R$${{servicoCliente.valorTotal}}|"></td>
						<td class="text-center">
							<a class="btn btn-link btn-xs" th:href="@{/servicoscliente/{codigo}(codigo=${servicoCliente.codigo})}"
								title="Editar" rel="tooltip" data-placement="top">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoRemoverServicoClienteModal"
								th:attr="data-codigo=${servicoCliente.codigo}"
								title="Excluir" rel="tooltip" data-placement="top">
								<span class="glyphicon glyphicon-remove"></span>
							</a>
						</td>
					</tr>
					<tr>
						<td colspan="8" th:if="${#lists.isEmpty(servicosCliente)}">Nenhum serviço de cliente encontrado.</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div layout:include="ConfirmacaoRemoverServicoCliente"></div>
		
	</div>
</section>
</html>